body {
  font-family: 'Noto Sans Mono';
  font-size: small;
  background-color: #FFF8E1 ;
  color: #912606 ;
  margin: 0;
  padding: 0;
}
header{
  position: fixed;
  top: 0;
  width: 100%;
}
header>nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E2723  ;
  padding: 10px 20px;
}

header>nav>div:first-of-type {
  color: #FFCC80  ;
  font-size: 1.5rem;
  font-weight: bold;
}

header>nav>ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

header>nav>ul>li {
  margin-left: 20px;
  text-align: center;
  color: #FFCC80;
  font-size: 1rem;
}

header>nav>ul>a {
  color: #FFCC80 ;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

header>nav>ul>li>a:hover {
  color: #FFA000;
}

header>nav>input[type="checkbox"] {
  display: none;
}

header>nav>label {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

header>nav>label>span {
  width: 25px;
  height: 3px;
  background-color: #FFCC80;
  margin: 4px 0;
  transition: 0.4s;
}
main>div{
  margin-top: 80px;
}

@media (max-width: 1250px) {
  header>nav>ul {
    display: none;
    flex-direction: column;
    width: 320px;
    background-color:#3E2723;
    position: absolute;
    top: 60px;
    right: 0;
    margin: 0;
    padding: 10px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  }

  header>nav>ul>li {
    margin: 10px 0;
    text-align: center; 
  }

  header>nav>label {
    display: flex;
  }

  header>nav>input[type="checkbox"]:checked ~ ul {
    display: flex;
  }
  }
  footer{
    position: relative;
    bottom: 0;
    width: 80%;
    margin: auto;
    height: 30px;
    text-align: center;
    color: #912606;
  }
  footer>a{
    color: #912606;
  }
  footer>a:hover{
    color: #4e1301;
  }
  section {
      margin: 20px;
  }
  a{
      text-decoration: none;
      color: #FFCC80;
  }
  a:hover{
      color: #FFA000;
  }
  p{
      text-align: justify;
  }
  div:nth-of-type(1)>p{
      margin-left: 20px;
  }
  div:nth-of-type(1)>p>a{
      color: black;
  }
  div:nth-of-type(1)>p>a:hover{
      color: black;
  }
  main>div:nth-of-type(1)>p{
      text-align: center;
      width: 96%;
      margin-left: 20px;
  }
  section>ul>li{
      font-weight: bold;
  }
  section>ul>li>ul{
    font-weight: normal;
  }
  nav>div{
    display: flex;
    justify-content: space-between;
    align-items: center;  
  }
  nav>div>div{
    margin-left: 15px;
    background-color: white;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
  nav>div>div>img{
    position: absolute;
    top: 17px;
    left: 216px;
    height: 32px;
    width: 32px;
  } 
