*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
figure{
    text-align: center;
}
#filamento{
    height: 35%;
    width: 35%;
    border-radius: 2%;
}
#resina{
    height: 25%;
    width: 25%;
    border-radius: 2%;
}
